.wrapper {
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: top left;
  height: 75vh;
}

.title {
  position: absolute;
  left: 40%;
  top: 15%;
  color: white;
}

.about {
  color: white;
  position: absolute;
  display: flex;
  font-size: 24px;
  margin-top: 9rem;
  left: 40%;
  margin-right: 1rem;
  max-width: 600px;
}

@media screen and (max-width: 900px) {
  .wrapper {
    margin-bottom: 30%;
    height: 120vh;
  }
}
