@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
  text-shadow: 2px 3px 3px rgba(177, 175, 175, 0.2);
  color: #F2F2F2;
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}